@charset "utf-8";
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.9em;
}

#navigation1 {
	width: 200px;
}

#navigation1 li {
	
}

#navigation1 li:first-child {
	
}

#navigation1 li:hover {
	
}

#navigation1 a{
	
}


#navigation1 a:hover{
	
}

#navigation2 li {
	
}

#navigation2 li a{
	
	
	
}

#navigation2 li a:hover{
	
}
